@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #FFF5DA;
    max-height: 100vh;
    margin: 0;
}
h2.header {
    font-size: 40px;
    font-weight: 300;
    margin: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: solid 3px #5D534A;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    padding: 15px;
    background-color: #5D534A;
    box-shadow:5px 5px 10px -14px #5D534A;

}

.resulttab {
    border: solid 3px white;
    border-radius: 10px;
    height: 25%;
    background-color: white;
    text-align: right;
}

.calculator__display {
    margin:15px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 32px;
}

.operationstab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    
}

.calculator__keys {
    display: grid;
    width: 80%;
    height:80%;
    gap: 10px;
    grid-template-columns: repeat(4,auto);
    grid-template-areas:
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
     
}
.one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }
  .seven {
    grid-area: seven;
  }
  .eight {
    grid-area: eight;
  }
  .nine {
    grid-area: nine;
  }
  .zero {
    grid-area: zero;
  }
  .decimal {
    grid-area: decimal;
  }
  .clear {
    grid-area: clear;
  }

  .equal {
    grid-area: equal;
    background-color: #D6D2C4;
    border: #D6D2C4 5px solid;
    transition: 0.4s;
  }
  
  .equal:active {
    background-color: #fbcccb;
  }
  

[data-state="selected"] {
    color:#fbcccb ;
    background-color: black;
    border: black 5px solid;
}

[data-state="normal"] {
    color:black;
    background-color: #F7DAD9;
    border: #F7DAD9 5px solid;
}



button {
    font-size: 20px;
    text-align: center;
    border: #F7DAD9 5px solid;
    border-radius: 10px; 
    background-color: #F7DAD9;
    transition: 0.4s;

}

.active {
    background-color: #ffbebd;
    border: #ffbebd 5px solid;
}

[data-type='number']:hover,
[data-type='clear']:hover {
    background-color: #fbcccb;
    border: #fbcccb 5px solid;
    color: black;
} 

[data-type='operator']:hover {
    background-color: #000000;
    border: #000000 5px solid;
    color: #fbcccb;
} 

[data-type='equal']:hover {
    background-color: white;
    border: white 5px solid;
}


.tag {
    position: absolute;
    bottom: 0;
}

.tag a {
    text-decoration: none;
    color: black;
}